<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataLol</title>
    <script></script>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>

    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#about">Sobre nós</a>
    </div>
    
    <div class="main">
        <div class="search-box">
            <input type="text" placeholder="Nome do invocador">    
        </div>
    
        <div class="summonerData">
            <p>item 1</p>
            <p>item 2</p>
            <p>item 3</p>
            <p>item 4</p>
            <p>item 5</p>        
        </div>        
    </div>


</body>
</html>